table {
  background-color: #00a1ff;
}

button {
  margin: 5px;
}

td, th {
  border: 1px solid #d0cbcb;
  text-align: center;
  vertical-align: middle;
  padding:0px;
}

.fa {
  float: right;
}
th {
  height: 45px;
  padding: 0;
  text-align: center;
  vertical-align: middle!important;
}
