<!-- <div>
    <button (click)="changeEmployeeName()" class="btn btn-primary">

    </button>
</div> -->
  <div class="form-group col-sm-4 input-group">
    <input type="text" placeholder="search..." class="form-control mr-2" [(ngModel)]="searchValue" />
    <select class="form-control" name="type" id="type" [(ngModel)]="type">
      <option *ngFor="let typec of types" [value]="typec.value">{{typec.type}}</option>
    </select>
  </div>
<div class="table-responsive table-container">
  <table class="table table-bordered table-striped table-hover text-center">
    <thead class="bg-blue2 text-white">
      <tr>
        <th>Code</th>
        <th (click)="sortType = 'name'; sortReverse = !sortReverse">
          Name
          <span *ngIf="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>

          <span *ngIf="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th (click)="sortType = 'amount'; sortReverse = !sortReverse">
          Amount
          <span *ngIf="sortType == 'amount' && !sortReverse" class="fa fa-caret-down"></span>

          <span *ngIf="sortType == 'amount' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>Borrow Date</th>
        <th (click)="sortType = 'dateReturn'; sortReverse = !sortReverse">
          Return Date
          <span *ngIf="sortType == 'dateReturn' && !sortReverse" class="fa fa-caret-down"></span>

          <span *ngIf="sortType == 'dateReturn' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th (click)="sortType = 'timeCreated'; sortReverse = !sortReverse">
          Created Date
          <span *ngIf="sortType == 'timeCreated' && !sortReverse" class="fa fa-caret-down"></span>

          <span *ngIf="sortType == 'timeCreated' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orderDetail of orderDetails | filter :type : searchValue : 'includes' | orderBy: sortType : sortReverse : true | paginate: { itemsPerPage: 15, currentPage: p }" (dblclick)="openPopup1(orderDetail)">
        <td>{{orderDetail.id}}</td>
        <td>{{orderDetail.name}}</td>
        <td>{{orderDetail.amount}}</td>
        <td>{{orderDetail.timeBorrow}}</td>
        <td>{{orderDetail.timeReturn}}</td>
        <td>{{orderDetail.dateCreated}}</td>
        <td>{{orderDetail.status}}</td>
        <td>
          <button (click)="openWaring(orderDetail)" class="btn bg-blue2 btn-sm text-white">Revoke</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
