/*table {
 
  height:200px !important;
}
button{
  margin:5px;
}
td{
  border: 1px solid #d0cbcb;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}
.search{
  margin-right:10px;
}
select{
  width:50px !important;
  min-width:50px!important;
}

th {
  height: 45px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}*/
td {
  border: 1px solid #d0cbcb;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
}
.bg-blue2 {
  background-image: linear-gradient(to right bottom, rgb(0, 83, 139),#009ACD);
}
