
  <div class="modal-header bg-blue2 py-1">
    <h4 class="modal-title text-white">Change password</h4>
    <button type="button" class="close" (click)="close()" >&times;</button>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-sm-5">
        <label for="password">Current password</label>
      </div>
      <div class="form-group col-sm-7">
        <input type="password" class="form-control {{P}}" name="password" placeholder="Enter password" [(ngModel)]="data.password">
        <i *ngIf="message.P">{{message.P}}!</i>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5">
        <label for="name">New password</label>
      </div>
      <div class="form-group col-sm-7">
        <input type="password" class="form-control {{N}}" name="newPassword" placeholder="Enter new password" [(ngModel)]="data.newPassword">
        <i *ngIf="message.N">{{message.N}}!</i>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5">
        <label for="name">Retype Password</label>
      </div>
      <div class="form-group col-sm-7">
        <input type="password" class="form-control {{R}}" name="retypePassword" placeholder="Enter retype password" [(ngModel)]="data.retypePassword">
        <i *ngIf="message.R">{{message.R}}!</i>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn text-white btn-info" (click)="Update()">Update Password!</button>
    <button type="button" class="btn btn-danger" (click)="close()">Close</button>
  </div>
