
<div class="modal-header bg-blue2 py-1">
  <h4 class="modal-title text-white">Update Infomation</h4>
  <button type="button" class="close" (click)="close()">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
  <div class="row">

    <div class="form-group col-sm-7">
      <div class="row">
        <div class="form-group col-sm-4">

          <label for="fullName">FullName <i>*</i></label>
        </div>
        <div class="form-group col-sm-8">
          <input type="text" name="fullName" class="form-control {{F}}" placeholder="Enter FullName" [(ngModel)]="full">
          <i *ngIf="message.F">
            {{message.F}}
          </i>
        </div>
      </div>
      <div class="row">

        <div class="form-group col-sm-4">
          <label for="birthDate">Birth Date <i>*</i></label>
        </div>
        <div class="form-group col-sm-8">
          <input type="date" class="form-control {{B}}" name="birthDate" [(ngModel)]="data.birthDate">
          <i *ngIf="message.B">
            {{message.B}}
          </i>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="name">Gender</label>
        </div>
        <div class="form-group col-sm-8">
          <select class="form-control" name="gender" id="gender" [(ngModel)]="data.gender">
            <option *ngFor="let gender of genders" [value]="gender.gender">{{gender.gender}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="name">Address</label>
        </div>
        <div class="form-group col-sm-8">
          <input type="text" class="form-control" name="address" placeholder="Enter Address" [(ngModel)]="data.address">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="name">Phone<i>*</i></label>
        </div>
        <div class="form-group col-sm-8">
          <input type="number" class="form-control {{P}}" name="phone" placeholder="Enter phone" [(ngModel)]="data.phone">
          <i *ngIf="message.P">
            {{message.P}}
          </i>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="email">Email</label>
        </div>
        <div class="form-group col-sm-8">
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="data.email" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="jobTitle">Job Title</label>
        </div>
        <div class="form-group col-sm-8">
          <input type="text" class="form-control" name="jobTitle" placeholder="Enter Job Title" [(ngModel)]="data.jobTitle" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="code">Code</label>
        </div>
        <div class="form-group col-sm-8">
          <input type="text" class="form-control" name="code" placeholder="Enter Code" [(ngModel)]="data.code" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="jobStartDate">Job Start Date <i>*</i></label>
        </div>
        <div class="form-group col-sm-8">
          <input type="date" class="form-control {{JS}}" name="jobStartDate" [(ngModel)]="data.jobStartDate" />
          <i *ngIf="message.JS">
            {{message.JS}}
          </i>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="jobEndDate">Job End Date <i>*</i></label>
        </div>
        <div class="form-group col-sm-8">
          <input type="date" class="form-control {{JE}}" name="jobEndDate" [(ngModel)]="data.jobEndDate" />
          <i *ngIf="message.JE">
            {{message.JE}}
          </i>
        </div>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <img src={{url}} alt="dsđs" />
      <div class="row mt-4">
        <form>
          <div class="form-group col-sm-12">
            <label for="file">Change avatar</label>
          </div>
          <div class="form-group col-sm-12">
            <input type="file" name="file" multiple (change)="select($event)" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="form-group col-sm-8">
    <label for="status">Status</label>
    <select class="form-control" name="status" id="status" [(ngModel)]="data.status">
      <option *ngFor="let status of statuss" [value]="status.status">{{status.status}}</option>
    </select>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</div>
<!-- Modal footer -->
<div class="modal-footer">
  <button type="submit" class="btn btn-info text-white btn-sm" (click)="registerEmployee()">Update!</button>
</div>

<!--</div>
  </div>
</div>-->
<!-- </div> -->
<!-- </div>
</div> -->
