body {
}

.closes {
  float: right;
  height: 30px !important;
  margin-top: -34px;
  color: red;
  height: 30px;
  margin-right: -15px;
}

  .closes:hover {
    border: solid 1px red;
  }

.choose {
  float: right;
  width: 40%;
  text-align: center;
}
