.closes {
  float: right;
  height: 30px !important;
  margin-top: 1px;
  color: white;
  height: 30px;
  margin-right: -13px;
}

  .closes:hover {
    border: solid 1px blue;
  }

error {
  border: solid 1px red;
}

i {
  color: red;
}
