<div class="modal-header bg-blue2 py-1">
  <h4 class="modal-title text-white">Cập nhập sản phẩm</h4>
  <button type="button" class="close" (click)="close()">&times;</button>
</div>
<!-- Modal body -->
<div class="modal-body">
<div class="row">
  <div class="form-group col-sm-7">
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="name">tên sản phẩm: <i>*</i></label>
      </div>
      <div class=" form-group col-sm-8">
        <input type="text" class="form-control {{N}}" name="name" placeholder="enter name" [(ngModel)]="productByID.name">
        <i *ngIf="message.N">Tên sản phẩm không thể trống!</i>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="name">Loại sản phẩm: <i>*</i></label>
      </div>
      <div class="form-group col-sm-8">
        <select class="form-control {{T}}" name="type" id="type" [(ngModel)]="productByID.type">
          <option *ngFor="let type of types" [value]="type.type">{{type.type}}</option>
        </select>
        <i *ngIf="message.T">Loại sản phẩm không thể trống!</i>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="name">Số lượng trong kho: <i>*</i></label>
      </div>
      <div class="form-group col-sm-8">
        <input type="number" class="form-control {{M}}" name="amountinwarehouse" placeholder="enter amountinwarehouse" [(ngModel)]="productByID.amountInWarehouse">
        <i *ngIf="message.M">Số lượng trong kho không hợp lệ!</i>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label for="name">Mô tả chi tiết:</label>
      </div>
      </div>
    <div class="row">
    <div class="form-group col-sm-12">
        <textarea cols="100" rows="5" type="text" class="form-control" name="description" placeholder="enter description" [(ngModel)]="productByID.description"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group col-sm-4">
    <img src={{url}} alt={{productByID.name}} />
    <form>
      <div class="form-group col-sm-8 mt-3">
        <label for="file">Thay ảnh mô tả </label>
       </div>
      <div class="row">
        <div class="form-group col-sm-8">
        <input type="file" name="file" multiple (change)="select($event)" />
      </div>
      </div>
    </form>
  </div>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </div>
<div class="modal-footer">
  <button type="submit" class="btn btn-info text-white" (click)="updateProduct()">Update</button>
  <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
</div>
