<!--<h1>Home</h1>
<button class="btn btn-success" (click)="openPopup1()">change your info</button>
<button class="btn btn-success" (click)="openPopup2()">change avatar</button>
<p>You're logged in with Angular 7 & JWT!!</p>-->
<!-- <p>Your role is: <strong>{{currentUser.role}}</strong>.</p> -->
<div class="container">
      <h1>Giới thiệu hệ thống quản lý tài sản</h1>
      <ul>
        <li> <b>Tại sao hệ thống quản lý tài sản được ra đời?</b>
          <ul>
            <li><i>Về phía người dùng</i>
            <ul>
              <li>Tối ưu hóa việc điền thông tin đăng ký trên giấy.</li>
              <li>Xem và lựu chọn được các sản phẩm mình cần.</li>
              <li>Giảm rủi do khi đến mà không còn sản phẩm mình cần.</li>
              <li>Giảm thời gian tối đa khi đến nơi mượn, lấy sản phẩm.</li>
              <li>Nhận được thông báo khi sản phẩm sắp đến hạn trả hoặc đa quá hạn mà chưa trả.</li>
              <li></li>
            </ul>
            </li>
            <li><i>Về phía người quản lý</i>
              <ul>
                <li>Tối ưu hóa việc xác nhận thông tin.</li>
                <li>Xem được thông tin các sản phẩm có trong kho mà không đến kho kiểm.</li>
                <li>Nhận được thông báo khi có người dùng muốn mượn sản phẩm.</li>
                <li>Tự động hóa việc cập nhập số lượng sản phẩm khi xác nhận cho mượn và trả.</li>
                <li>Xem báo cáo số lượng mượn,số lượng trong kho của các loại sản phẩm</li>
                <li>Quản lý chặt chẽ tránh thất thoát, rủi ro</li>
              </ul>
            </li>
          </ul>
        </li>
        <li><b>Chức năng được xây dựng</b>
          <ul>
            <li><i>Admin</i>
              <ul>
                <li>Báo cáo thông kê dưới dạng biểu đồ.</li>
                <li>Danh sách người dùng.</li>
                <li>Tạo người dùng, tài khoản phân quyền cho người dùng.</li>
                <li>Thêm,sửa sản phẩm vào hệ thống quản lý.</li>
                <li>Thông báo khi có người báo yêu cầu.</li>
                <li>Tự động cập nhập số lượng trong kho khi cho mượn, trả theo yêu cầu.</li>
              </ul>

            </li>
            <li><i>User</i>
              <ul>
                <li>Xem danh sách sản phẩm hiện có</li>
                <li>Tạo yêu cầu mượn</li>
                <li>Xem trạng thái yêu cầu mượn đã được chấp thuận hay từ chối bởi Admin</li>
                <li>Nhận thông báo khi có sản phẩm sắp đến hạn trả</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
</div>
