<!-- nav -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-blue2 " *ngIf="currentUser" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="isShown = !isShown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isShown }">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-item nav-link text-white" routerLink="/" *ngIf="isAdmin || isUser"><i class="fas fa-home"></i>  Home</a></li>
        <li><a class="nav-item nav-link text-white" routerLink="/admin" *ngIf="isAdmin" (click)="keo()">User manager</a></li>
        <li><a class="nav-item nav-link text-white" routerLink="/register" *ngIf="isAdmin" (click)="keo()">Register</a></li>
        <li><a class="nav-item nav-link text-white" routerLink="/product" *ngIf="isAdmin" (click)="keo()">Product</a></li>
        <li><a class="nav-item nav-link text-white" routerLink='/product-user' *ngIf="isUser" (click)="keo1()"><i class="fas fa-list"></i> List product</a></li>

        <li><a class="nav-item nav-link text-white" routerLink="/revoke" *ngIf="isAdmin" (click)="keo()">Revoke</a></li>
        <li><a class="nav-item nav-link text-white" routerLink="/statistic" *ngIf="isAdmin" (click)="keo()">Statistic</a></li>
        <li>
          <div class="nav-item nav-link admin" ng ngbDropdown *ngIf="isAdmin" (click)="keo()">
           
            <div style="text-align: left;" class="text-white dropdown-toggle  p-0 mr-sm-2" data-toggle="dropdown" id="dropdownBasic2" ngbDropdownToggle>
              <i class="fas fa-bell">
                <sup style="color:red;">
                  {{me}}
                </sup></i>

            </div>
            <div class="dropdown-menu dropdown-menu-right shadow position-absolute bg-blue2" ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <h1 class="dropdown-header text-white text-center ">Thông báo</h1>
              <div class="bg-white">
                <div class="dropdown-item border-bottom d-flex align-items-center p-2" *ngFor="let orderDetail of orderDetails"  data-toggle="modal" data-target="#updatein" (click)="openPopup1(orderDetail)">
                  <div class="mr-2">
                  <i class="fas fa-bell pr-2 fa-2x" style="color:black" ></i>
                  </div>
                  <div>
                  <div class="small text-gray">
                    <i>{{orderDetail.dateCreated}}</i>
                    </div>
                    <span>
                     Người dùng '<i>{{orderDetail.fullname}}</i>' muốn mượn {{orderDetail.name}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </li>

        <li >
          <a class="nav-item nav-link text-white" routerLink='/myCart' *ngIf="isUser" (click)="keo1()">
            <i class="fas fa-cart-plus"></i>
            <span> Cart </span>
          </a>
        </li>
        <li >
          <div class="nav-item nav-link admin" ng ngbDropdown *ngIf="isUser" (click)="keo1()">

            <div style="text-align: left;" class="text-white dropdown-toggle  p-0 mr-sm-2" data-toggle="dropdown" id="dropdownBasic2" ngbDropdownToggle>
              <i class="fas fa-bell">
                <sup style="color:red;">
                  {{msg}}
                </sup>
              </i>

            </div>
            <div class="dropdown-menu dropdown-menu-right shadow position-absolute bg-blue2" ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <h1 class="dropdown-header text-white text-center ">Thông báo</h1>
              <div class="bg-white">
                <div class="dropdown-item border-bottom d-flex align-items-center p-2" *ngFor="let orderDetail of oDs" data-toggle="modal" data-target="#updatein" (click)="openPopup2(orderDetail)">
                  <div class="mr-2">
                    <i class="fas fa-bell pr-2 fa-2x" style="color:black"></i>
                  </div>
                  <div>
                    <div class="small text-gray">
                      <i>{{orderDetail.modi}}</i>
                    </div>
                    <span>
                      Đơn hàng '<i>{{orderDetail.name}}</i>' {{orderDetail.msg}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a class="nav-item nav-link text-white" *ngIf="!isAdmin && !isUser" (click)="logout()">Login</a>
        </li>
      </ul>
      <div *ngIf="isAdmin || isUser" ng ngbDropdown class="navbar-nav ml-auto nav-flex-icons" >
        <div style="min-width: 180px;text-align: left;" class="text-white dropdown-toggle  p-0 mr-sm-2" data-toggle="dropdown" id="dropdownBasic2" ngbDropdownToggle>
          <img  style="width:40px; height:40px;" src={{url}} alt="profile" class="rounded-circle img-profile">
          <p class="d-inline p-1 border-left">{{data.fullName}}</p>

        </div>
        <div class="dropdown-menu dropdown-menu-right shadow position-absolute" ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <a class="dropdown-item" data-toggle="modal" data-target="#updatein" (click)="open1()">
            <i class="fas fa-user-edit pr-2" aria-hidden="true" style="color:black" ></i>Account infomation
          </a>
          <a class="dropdown-item" data-toggle="modal" data-target="#doiMatKhau" (click)="open2()">
            <i class="fa fa-lock pr-2" aria-hidden="true"></i>Change password
          </a>
          <a (click)="logout()" class="dropdown-item">
            <i class="fas fa-sign-out-alt pr-2" aria-hidden="true" style="color:black"></i>Logout
          </a>
        </div>

      </div>

    </div>
    <!--<ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item">
      <a class="nav-link waves-effect waves-light">
        1
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li class="nav-item avatar dropdown">
      <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="img-fluid rounded-circle z-depth-0">
      </a>
      <div class="dropdown-menu dropdown-menu-lg-right dropdown-purple" aria-labelledby="navbarDropdownMenuLink-5">
        <a class="dropdown-item waves-effect waves-light" href="javascript:;;">Action</a>
        <a class="dropdown-item waves-effect waves-light" href="javascript:;;">Another action</a>
        <a class="dropdown-item waves-effect waves-light" href="javascript:;;">Something else here</a>
      </div>
    </li>
  </ul>-->
   
  </nav>

<!-- main app container -->
<div class="jumbotron">
    <!-- <div class="container">
        <div class="row"> -->
    <!-- <div class="col-md-6 offset-md-3"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->
    <!-- </div>
    </div> -->
</div>
