<div class="modal-header bg-blue2 py-1">
  <h4 class="modal-title text-white">Created Product</h4>
  <button type="button" class="close" (click)="close()">&times;</button>
</div>
<!-- Modal body -->
<div class="modal-body">
  <div class="row">
    <div class="form-group col-sm-4">
      <label for="name">Tên sản phẩm: <i>*</i></label>
      <input type="text" class="form-control {{N}}" name="name" placeholder="enter name" [(ngModel)]="product.name">
      <i *ngIf="message.N">tên sản phẩm không thể trống!</i>
    </div>
    <form>
      <div class="form-group col-sm-8">
        <label for="file">Ảnh minh họa:</label>
        <input type="file" name="file" multiple (change)="select($event)" />
      </div>
    </form>
  </div>
  <div class="row">
    <div class="form-group col-sm-10">
      <label for="name">description</label>
      <textarea cols="100" rows="5" type="text" class="form-control" name="description" placeholder="enter description" [(ngModel)]="product.description"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6">
      <label for="name">Số lượng nhập kho <i>*</i></label>
      <input type="number" class="form-control {{M}}" name="amountinwarehouse" placeholder="enter amountinwarehouse" [(ngModel)]="product.amountInWarehouse">
      <i *ngIf="message.M">số lượng trong kho không hợp lệ!</i>
    </div>
    <div class="form-group col-sm-6">
      <label for="name">Loại sản phẩm <i>*</i></label>
      <select class="form-control {{T}}" name="type" id="type" [(ngModel)]="product.type">
        <option *ngFor="let type of types" [value]="type.type">{{type.type}}</option>
      </select>
      <i *ngIf="message.T">tên sản phẩm không thể trống!</i>
    </div>
  </div>
</div>
<!-- Modal footer -->
<div class="modal-footer">
  <button type="submit" class="btn btn-info text-white" (click)="createProduct()">Create</button>
  <button type="button" class="btn btn-danger" (click)="close()">Close</button>
</div>
