<div class="modal-header bg-blue2 py-1">
  <h4 class="modal-title text-white">Infomation</h4>
  <button type="button" class="close" (click)="close()">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
  <div class="row">
    <div class="form-group col-sm-7">
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="name">Mã đơn hàng</label>
        </div>
        <div class="form-group col-sm-8">
          <input type="text" class="form-control" name="fullName" placeholder="fullName" value={{id}} [readonly]="true" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="name">Người tạo</label>
        </div>
        <div class="form-group col-sm-8">
          <input type="text" class="form-control" name="fullName" placeholder="fullName" value={{info.fullName}} [readonly]="true" />
        </div>
      </div>
      <div class="row">

        <div class="form-group col-sm-4">
          <label for="name">Tên sản phẩm mượn</label>
        </div>
        <div class="form-group col-sm-8">
          <input type="text" class="form-control " name="name" placeholder="enter name" value={{info.name}} [readonly]="true">
        </div>
      </div>
      <div class="row">

        <div class="form-group col-sm-4">
          <label for="name">Số lượng muốn mượn</label>
        </div>
        <div class="form-group col-sm-8">
          <input class="form-control" name="type" id="type" value={{info.amount}} [readonly]="true" />
        </div>
      </div>
      <div *ngIf="ad" class="row">
        <div class="form-group col-sm-4">
          <label for="name">Số lượng trong kho</label>
        </div>
        <div class="form-group col-sm-8">
          <input type="number" class="form-control" name="amountinwarehouse" placeholder="enter amountinwarehouse" value={{info.amountInWarehouse}} [readonly]="true" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="name">Ngày tạo</label>
        </div>
        <div class="form-group col-sm-8">
          <input type="date" class="form-control" name="dateCreated" placeholder="Date Created" value={{info.dateCreated}} [readonly]="true" />
        </div>
      </div>

    </div>
    <div class="form-group col-sm-5">
      <img src={{url}} alt={{info.name}} />
    </div>
  </div>


  <div class="row">
    <div class="form-group col-sm-6">
      <label for="name">Date Borrow</label>
      <input type="date" class="form-control" name="timeCreated" placeholder="Time Created" value={{info.timeBorrow}} [readonly]="true" />
    </div>
    <div class="form-group col-sm-6">
      <label for="name">Date Return</label>
      <input type="date" class="form-control" name="Last update" placeholder="Last Update Date" value={{info.timeReturn}} [readonly]="true" />
    </div>
  </div>

</div>
<div class="modal-footer">
  <button *ngIf="ad" class="btn btn-info text-white {{no}}" (click)="close1()">ACCEPT</button>
  <button *ngIf="ad" type="submit" class="btn btn-info text-white" (click)="close2()">Refuse!</button>
</div>
