

      <!-- Modal Header -->
      <div class="modal-header bg-blue2 py-1">
        <h4 class="modal-title text-white">Update user</h4>
        <button type="button" class="close" (click)="close()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="name">FullName</label>
            <input type="text" class="form-control" name="fullName" placeholder="Enter FullName" value={{employeeById.fullName}} [readonly]="true" />
          </div>
          <div class="form-group col-sm-4">
            <label for="name">Birth Date</label>
            <input type="date" class="form-control" name="birthDate" placeholder="Enter Address" value={{birthDate}} [readonly]="true">
          </div>
          <div class="form-group col-sm-4">
            <label for="name">Status</label>
            <select class="form-control" name="status" id="status" [(ngModel)]="employeeById.status">
              <option *ngFor="let status of statuss" [value]="status.status">{{status.status}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="name">Address</label>
            <input type="text" class="form-control" name="address" placeholder="Enter Address" value={{employeeById.address}} [readonly]="true">
          </div>
          <div class="form-group col-sm-4">
            <label for="name">Phone</label>
            <input type="number" class="form-control" name="phone" placeholder="Enter phone" value={{employeeById.phone}} [readonly]="true">
          </div>
          <div class="form-group col-sm-4">
            <label for="name">Gender</label>
            <input type="text" class="form-control" name="gender" placeholder="Enter gender" value={{employeeById.gender}} [readonly]="true">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="name">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email" value={{employeeById.email}} [readonly]="true">
          </div>
          <div class="form-group col-sm-6">
            <label for="name">Code</label>
            <input type="text" class="form-control" name="code" placeholder="Enter Code" value={{employeeById.code}} [readonly]="true">
          </div>
        </div>
        <div class="form-group">
          <label for="name">Job Title</label>
          <input type="text" class="form-control" name="jobTitle" placeholder="Enter Job Title" value={{employeeById.jobTitle}} [readonly]="true">
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="name">Job Start Date</label>
            <input type="date" class="form-control {{JS}}" name="jobStartDate" placeholder="Enter Job Start Date"
                   [(ngModel)]="jobStartDate">
            <i *ngIf="message.JS">
              {{message.JS}}
            </i>
          </div>
          <div class="form-group col-sm-6">
            <label for="name">Job End Date</label>
            <input type="date" class="form-control {{JE}}" name="jobEndDate" placeholder="Enter Job End Date"
                   [(ngModel)]="jobEndDate">
            <i *ngIf="message.JE">
              {{message.JE}}
            </i>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-info text-white" (click)="updateEmployee()">Update!</button>
        <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
      </div>

